{% extends "Admin/newtemp.html" %}
{% block body %}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="200" border="0">#}
{#    <tr>#}
{#      <td><strong>Home</strong></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/adm_addpolicestation">Add Police Station</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/adm_viewpolicestation">View Police Station</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/adm_viewmanmissing">View Missing Persons</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/adm_viewlookoutnotice">View Lookout Notice</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/adm_viewcomplaints">View Complaints</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/adm_viewnotification">View Notification</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/adm_sendnotification">Send Notification</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/">Log Out</a></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{% endblock %}