{% extends "Police/newpolice.html" %}
{% block body %}


<body>
<form action="/police_add_criminallist_post" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered" border="1">
  <tr>
    <td >Name</td>
    <td>
      <input type="text" name="name" id="name" class="form-control" required/></td>
  </tr>
    <tr>
    <td >father</td>
    <td>
      <input type="text" name="father" id="name" class="form-control" required/></td>
  </tr>
    <tr>
    <td >mother</td>
    <td>
      <input type="text" name="mother" id="name" class="form-control" required/></td>
  </tr>
    <tr>
    <td >blood</td>
    <td>
      <input type="text" name="blood" id="name" class="form-control" required/></td>
  </tr>
    <tr>
    <td >house no</td>
    <td>
      <input type="text" name="house" id="name" class="form-control" required/></td>
  </tr>
    <tr>
    <td >street</td>
    <td>
      <input type="text" name="street" id="name" class="form-control" required/></td>
  </tr>
    <tr>
    <td >post</td>
    <td>
      <input type="text" name="post" id="name" class="form-control" required/></td>
  </tr>
    <tr>
    <td >pin</td>
    <td>
      <input type="text" name="pin" id="name" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><label for="place"></label>
      <input type="text" name="place" class="form-control" id="place" required/></td>
  </tr>
        <tr>
    <td>Gender</td>
    <td><label for="place"></label>
        <input type="radio" name="radio" id="radio" value="male"  checked/>Male
            <input type="radio" name="radio" id="radio" value="female" />Female
            <input type="radio" name="radio" id="radio" value="other" />Other
  </tr>
  <tr>
    <td>Dob</td>
    <td><label for="post"></label>
      <input type="date" name="dob" class="form-control" id="dob" required/></td>
  </tr>
  <tr>
    <td>Crime</td>
    <td><select name="crime" required>
        {% for i in data1 %}
        <option value="{{ i[0] }}">{{ i[1] }}</option>
        {% endfor %}
    </select></td>
  </tr>
  <tr>
    <td>District</td>
    <td>
      <select name="district" id="district" class="form-control">
      <option>Alappuzha</option>
      <option>Ernakulam</option>
      <option>Idukki</option>
      <option>Kannur</option>
      <option>Kasaragod</option>
      <option>Kollam</option>
      <option>Kottayam</option>
      <option>Kozhikode</option>
      <option>Malappuram</option>
      <option>Palakkad</option>
      <option>Pathanamthitta</option>
      <option>Thiruvananthapuram</option>
      <option>Thrissur</option>
      <option>Wayanad</option>
      </select></td>
  </tr>
{#  <tr>#}
{#    <td>E-mail</td>#}
{#    <td><label for="email"></label>#}
{#      <input type="email" name="email" id="email" class="form-control" required/></td>#}
{#  </tr>#}
  <tr>
    <td>Identification</td>
    <td>
      <input type="text" name="identi" id="identi" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Photos</td>
    <td><label for="photos"></label>
      <input type="file" name="photos" id="photos" class="form-control" required/></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" class="btn-success" name="save" id="save" value="Save" /></td>
  </tr>
</table>
</form>


{% endblock %}