{% extends "Police/newpolice.html" %}
{% block body %}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td>Home</td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#      <td><a href="/plc_addmissingman">Add Missing Person</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/plc_viewlookoutnotice">View Lookout Notice</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/plc_viewmanmissing">View Missing Persons</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/plc_viewcomplaints">View Complaints</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/plc_viewnotification">View Notification</a></td>#}
{#    </tr>#}
{#    </table>#}
{#</form>#}
{% endblock %}

